body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(7, 7, 7);
  }h1 {
    color:white;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(195, 7, 63);
  }div.a{
    color:grey;
    font-size: 30px;
    text-align: center;
    margin-right: 80;
    margin-left: 80;
    
  }
  img {
    height:400px;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius: 45px;
    border: 1px solid #6f2232;
    border-width: 3px;
    padding: 1px;

  }h2{
    color:  rgb(195, 7, 63);
    font-size: 50px;
    margin-right: 50;
    margin-left: 50;
    text-decoration: underline;
  }
  h3{
    color:rgb(149, 7, 64);
    font-size: 35px;
    margin-right: 50;
    margin-left: 50;
    margin-top:40px;
  }h4{
    color:rgb(149, 7, 64);
    font-size: 35px;
    margin-right: 50;
    margin-left: 50;
    margin-top:-40px;
  }
  p{
    color: rgb(108, 108, 110);
    margin-right: 50;
    margin-left: 50;
    text-align: justify;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid #6f2232;
    border-width: 4px;
    padding: 10px;
    height: 250px;
    margin-top:-15px;
    
  }.underline {
  border-bottom: 4px solid  rgb(195, 7, 63);
  line-height: 1;
  text-align: center;
  border-collapse: separate;
  text-decoration: none;
  

}